html {
 scroll-behavior: smooth;
}

body{
background-color:#F7F8FA;

 font-family: 'Rubik', sans-serif;
 color:#535352;
 font-size: 18px;
}

/*מרכוז*/
.center-class {
width: calc( 100vw -40px );

/*   display: flex;*/
  justify-content:center;
  padding:0;
  margin:0;
}

.padding-class{
padding-left:3vh;
padding-right:3vh;


}
/*כרטיס */
.card{
box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 9.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.0086),
  0 100px 80px rgba(0, 0, 0, 0.016)
;

 padding-right:3vh;
   padding-left:3vh;
padding-top:3vh;
 background-color:#FFFFFF;

  width:auto;
    height: auto;

  background: white;
  border-radius: 10px;

}

/*דברי חוכמה */
.inspiration{
text-align: center;
padding-top:5vh;
font-size: 20px;
color:#CB5A09;
}
/*קו הפרדה */
hr{
border-color:#F7F8FA;
width:auto;
text-align:right;

}
/*כותרות */
h1 {
            color:#00000;
            font-size: 26px;
            margin:10;
            font-weight:400;
            padding-top:2vh;
            padding-bottom:2vh;
            text-align: center;
        }
h2 {
            margin:0;
            padding:0;
            font-weight:bold;
            font-size: 26px;
            /*text-align: center;*/
            color:#CB5A09;

}

h3{
        margin:0;
        padding-top:2vh;
        font-size: 18px;
        font-weight:bold;
     /*   color:#CB5A09;*/
     color:black;
   }
/* דף אופן השימוש */
.help{
  color:#CB5A09;
  margin:0;

   text-align: center;
   font-size: 26px;
    font-weight:bold;

   }

.helptext{
 font-size: 18px;
       padding-top:3vh;
}

.names{

      padding-top:5vh;
      font-size: 14px;
      }

/*דף פתיחה */
   .welcomeh1{

   color:#CB5A09;
 font-weight:bold;
 font-size: 26px;
  text-align: center;
  padding-top:6vh;
   }

 .welcomeh2{
   color:black;
    font-size: 18px;
     text-align: center;

   }
.welcometext{
      color:black;
    font-size: 18px;
     text-align: center;
     padding-top:3vh;
     padding-right:8vh;
     padding-left:8vh;
      }
.welcomeButtonLocation{
padding-top:2vh;
padding-bottom:5vh;

}
.welcomebutton{
position:relative;
     background-color: Transparent;
     background-repeat:no-repeat;
     cursor:pointer;
     overflow: hidden;
border: 1px solid #CB5A09;;
     display: inline-block;
     	padding: 10px 10px;
     	color: #CB5A09;
     	text-decoration: none;
     	font-size: 18px;
     	text-align:center;
    	font-weight:bold;
     	line-height:100%;
    	height:40px;
        width: 180px;
     	-webkit-border-radius:100px;
     	-moz-border-radius: 100px;
     	border-radius: 100px;

 }
/*קרא עוד */
.btn {
  background:none;
  border:none;
  margin:0;
  padding:0;
  color:#2B77D3;

}

/*קרא עוד */
.more {
display: none;
}

/*עיטור */
.caligraph {
  display: block;
  width:130px;
  height:45px;
  background-size: cover;
  content-justify:center;
  text-align:center;
  fill-color:#CB5A09;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.caligraph2 {
  display: block;
  width:96;
  height:45;
  background-size: cover;
  content-justify:center;
  text-align:center;
  fill-color:#CB5A09;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}


/*עיגול*/
.header, header-old {
  display: inline-block;
  position: relative;
   width:222px;
    height:222px;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  justify-content:space-evenly;
  text-align: center;

}

/*תמונה  בראש ההנחיות*/
.header img {
position:relative;
width: 100%;
 /* height: 100%;*/
  background-position: center;
 z-index:1;
 }

.header-old img {
position:relative;
  width: 100%;
 /* height: auto;*/
    background-position: center;
 z-index:1;

 }
/*תמונה מטושטשת מאחור*/
.bg-image {
position:relative;
  /* Add the blur effect */
filter: blur(10px) contrast(100%);
  -webkit-filter: blur(10px) contrast(100%);
  /* Center and scale the image*/
     width:100%;
height:8vh;
   padding-top:0;
   margin:0;
  background-position: center;
  background-repeat:no-repeat;
background-size:cover;

  z-index:1;

 }


.container-image img{
    position: absolute;
    top: 0;
    width:100%;
    height:160px;
    z-index: 10;

}
.circular--swami {
  position: relative;
  width:200px;
  height:200px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content:center;
 margin:auto;

}

.circular--swami img {
  width: auto;
  height: 100%;
 /* margin-left: -50px;*/
}
/*עיגול מסביב לתמונה */
.circular--landscape {
 /* display: inline-block;
  position: relative;*/
  width:200px;
  height:200px;
  overflow: hidden;
  border-radius: 50%;
 /* display: flex;*/
margin:auto;
  justify-content:center;
 border-style:solid;
  border-color:#ffffff;
  border-width:8px;

}

.circular--landscape img {
  width: auto;
  height: 100%;
/*  margin-left: -50px;*/

}

.circular--portrait {
 /* position: relative;*/
  width:200px;
  height:200px;
  overflow: hidden;
  border-radius: 50%;
/* display: flex;*/
 margin:auto;
  justify-content:center;
 border-style:solid;
    border-color:#ffffff;
    border-width:8px;

}

.circular--portrait img {
  width: 100%;

  height: auto;
}





/* גראדיאנט*/
#WelcomeGrad{
background-image:linear-gradient(#D3D3D3,#F7F8FA,#FFFAFA);
}

#WelcomeGradOrange{
background-image:linear-gradient(#ff0000,orange);
}