body{
background-color:#F7F8FA;
 padding-right:20px;
padding-left:20px;
 font-family: 'Rubik', sans-serif;
 color:#535352;
 ont-size: 18px;
}
/*כרטיס */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  width:auto;
  height: auto;
  padding-right:20px;
  padding-left:20px;
/*  text-align: center;*/
  background-color:#FFFAF0;
/*align:center;*/
border-radius: 8px;

}
/*דברי חוכמה */
.inspiration{
text-align: center;
padding-top:26px;
font-size: 20px;
color:#CB5A09;
}
/*קו הפרדה */
hr{
border-color:#F7F8FA;
width:auto;
text-align:right;
}
/*כותרות */
h1 {
            color:#00000;
            font-size: 26px;
            margin:10;
            font-weight:bold;
            padding-top:10px;
            padding-bottom:10px;
            text-align: center;
        }
h2 {
            margin:0;
            padding:0;
            font-weight:bold;
            font-size: 26px;
            /*text-align: center;*/
            color:#CB5A09;

}

h3{
        margin:0;
        padding-top:20px;
        font-size: 18px;
        font-weight:bold;
     /*   color:#CB5A09;*/
     color:black;


   }
.help{
  color:#CB5A09;
  margin:0;
   padding-top:20px;
   font-size: 18px;
    font-weight:bold;

   }
.names{

      padding-top:20px;
      font-size: 14px;


      }
/*קרא עוד */
.more {
display: none;
}

.btn {
  background:none;
  border:none;
  margin:0;
  padding:0;
  color:#2B77D3;

}

/*עיטור */
.caligraph {
  display: block;
  width: auto;
  height: auto;
  background-size: cover;
  content-justify:center;
  text-align:center;
  fill-color:#CB5A09;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.caligraph2 {
  display: block;
  width:80;
  height:35;
  background-size: cover;
  content-justify:center;
  text-align:center;
  fill:#CB5A09;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

/*עיגול*/
.header {
  display: inline-block;
  position: relative;
  width:222px;
  height:222px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content:space-evenly;
  text-align: center;
}

/*תמונה  בראש ההנחיות*/
.header img {
position:relative;
  width: 100%;
  height: 100%;
    background-position: center;
 z-index:1;
 }
/*תמונה מטושטשת מאחור*/
.bg-image {
position:relative;

  /* Add the blur effect */
  filter: blur(20px);
  -webkit-filter: blur(20px);
  shadow:black;
  width: 100%
  height:100%;
opacity: 10;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  z-index:1;
}

.container-image img{
    position: absolute;
    top: 0;
    width:100%;
    height:120px;
    z-index: 10;

}
/*עיגול מסביב לתמונה */
.circular--landscape {
  display: inline-block;
  position: relative;
  width:200px;
  height:200px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content:center;
 border-style:solid;
  border-color:White;
  border-width:5px;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;

}

.circular--portrait {
  position: relative;
  width:200px;
  height:200px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content:center;
 border-style:solid;
    border-color:White;
    border-width:5px;
}

.circular--portrait img {
  width: 100%;
  height: auto;

}
/*מרכוז*/
.center-class {
    width:100%;
    display: flex;
    justify-content:center;
}
.swami img {
width: 100%;
border-radius: 25px;
}

